extends layout2
block content
  .container
   .alert.alert-warning #{msg} #{currentBoard} for Object with ID #{objectID} from #{sourceID}
   - var board=currentBoard
   - var obj=objectID
   - var source=sourceID
   
   form(action='/photos', method='get')
     input(type='hidden', name='boardName', value=board)
     input(type='hidden', name='nextPage', value=1)
     button.btn.btn-default(type='submit') GO back to Board
   p
   
   -if(state){
     form(action='/tag', method='get')
       input(type='hidden', name='boardName', value=board)
       input(type='hidden', name='objID', value=obj)
       input(type='hidden', name='srcID', value=source)
       button.btn.btn-default(type='submit') Add Tags

   -}
   