extends layout2
block content
  .container
   form
   | #{msg} #{currentBoard} for Object with ID #{objID} from #{srcID}
   p
   | What's next? 
   p
   
   a(href='/photos'+'?boardName=#{currentBoard}&nextPage=1')  ~~Go back to Board~~
   p
   a(href='/tag'+'?boardName=#{currentBoard}&objID=#{objID}&srcID=#{srcID}')  ~~Add Tags~~
   