extends layout2
block content

    .container
        
      .row.clearfix
        .col-md-12.column
          .page-header
            h1
              |  You might be interested in these results 
          
            - if(results.length==0)
                 p
                   | Sorry, we cannot find photos mathing your given tag "#{searchTags}" for Page#{PageNum}
            -  else
               .row
                .col-md-4
                  .thumbnail
            -   for (var inx = 0; inx < results.length; inx++)
                img(alt='300x200', src='results[inx].url')
                .caption
                  h3
                    | Photo ID as below:
                  p
                    | results[inx].photoID
                  p
                    a.btn.btn-primary(href='#') Rate
                    a.btn(href='#modal-container-196153', role='button', data-toggle='modal') Pin
        
                    #modal-container-196153.modal.fade(role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                      .modal-dialog
                         .modal-content
                            .modal-header
                                 button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                                 h4#myModalLabel.modal-title
                                   | Modal title
                            .modal-body
                               p Board1
                               p Board2
                               p Board2
                            .modal-footer
                               button.btn.btn-default(type='button', data-dismiss='modal') Close
                               button.btn.btn-primary(type='button') Pin It
                    
           
          ul.pagination
          
            li
              a(href='/photoSearch'+'?PageNum=1&searchTags=#{searchTags}') 1
            li
              a(href='/photoSearch'+'?PageNum=2&searchTags=#{searchTags}') 2
            li
              a(href='/photoSearch'+'?PageNum=3&searchTags=#{searchTags}') 3
            li
              a(href='/photoSearch'+'?PageNum=4&searchTags=#{searchTags}') 4
            li
              a(href='/photoSearch'+'?PageNum=5&searchTags=#{searchTags}') 5
            

