extends layout2
block content
    -  var current_page = PageNum;
    -  var inx = 0;
    -  var page_nation_length = 5;
    -  var page_section = 0;
    -  var n_photos_p_page = 5;
    -  var n_pages = Math.ceil(results.length/n_photos_p_page);
    
    .container
        
      .row.clearfix
        .col-md-12.column
          .page-header
            h1
            - if(results.length>0)
              | You might be interested in these results,#{results.length} Photos, you are on #{current_page}page.
            - else
              | Sorry, we cannot find photos mathing your given tag "#{searchTags}" for Page#{PageNum}
          
          .row
            .col-md-4
               .thumbnail
             
              #modal-container-196153.modal.fade(method='get', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                      .modal-dialog
                         .modal-content
                           
            -for (inx = (current_page -1) * n_photos_p_page; inx < (current_page -1) * n_photos_p_page + n_photos_p_page; inx++){
               -if( inx <= results.length-1 ){
                img(alt='Failed to load', src="#{results[inx].URL}")
                .caption
                  h3
                    | Photo ID is : #{results[inx].ID}
                  p
                    | Photo URL is : #{results[inx].URL}
                  p
                   
                 - var currentPhotoIDvalue= results[inx].ID
                      .modal-body
                       form(method='get',action='/add_rating')
                          input(name='score',type='text',placeholder='integer value from 0 to 10')
                          input(type='hidden', name='currentphotoID', value=currentPhotoIDvalue)
                          button.btn.btn-primary(type='submit') Rate it!
                               
                  p
                    a.btn(href='#modal-container-196153', role='button', data-toggle='modal') Pin
        
                    #modal-container-196153.modal.fade(role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                      .modal-dialog
                         .modal-content
                            .modal-header
                                 button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                                 h4#myModalLabel.modal-title
                                   | Modal title
                            .modal-body
                               p Board1
                               p Board2
                               p Board2
                            .modal-footer
                               button.btn.btn-default(type='button', data-dismiss='modal') Close
                               button.btn.btn-primary(type='button') Pin It
                    -}
              -} 
              
              
         -if (current_page > 1)
            - n_prev = parseInt(current_page) - 1;              
         -else           
            - n_prev = parseInt(current_page)
         
         -if (current_page == n_pages)
            - n_next = parseInt(current_page);
         -else
            - n_next = parseInt(current_page) + 1;
         
         - page_section = Math.ceil(current_page / page_nation_length);      
           
          
         
          ul.pagination
          
            li
              a(href='/photoSearch'+'?searchTags=#{searchTags}&PageNum=1') First         
            li
              a(href='/photoSearch'+'?searchTags=#{searchTags}&PageNum=#{n_prev}') Prev            	            
              -for (inx = parseInt(page_section); inx < parseInt(page_section) + page_nation_length; inx++){
               -if(inx > n_pages){
                  -break;
               -}
               -if(inx == current_page){
                li
                  a(style="color:green",href='/photoSearch'+'?searchTags=#{searchTags}&PageNum=#{inx}') #{inx}
               -}
               -else{
                li
                  a(href='/photoSearch'+'?searchTags=#{searchTags}&PageNum=#{inx}') #{inx}
               -}	
              -}
            
            li
              a(href='/photoSearch'+'?searchTags=#{searchTags}&PageNum=#{n_next}') Next
            li
              a(href='/photoSearch'+'?searchTags=#{searchTags}&PageNum=#{n_pages}') Last
              
          
           
                 