extends layout2
block content
    -  var current_page = nextPage;
    -  var inx = 0;
    -  var page_nation_length = 5;
    -  var page_section = 0;
    -  var n_photos_p_page = 5;
    -  var n_pages = Math.ceil(results.length/n_photos_p_page);
     
    if deleted == true 
       .alert.alert-warning Successfully removed chosen photo with ID 
    if deleted == false 
       .alert.alert-warning Failed to remove chosen photo!
       
    .container
     
      .row.clearfix
        .col-md-12.column
          .page-header
            h1
              | #{results.length} Photos, #{n_pages} page(s), you are on #{current_page}page.
            h3
              | Photos of a board you selected : #{boardName}
            h3
              | We display #{n_photos_p_page} photos per page currently.
          
          .row
             .col-md-1
             .col-md-8
              -for (inx = (current_page -1) * n_photos_p_page; inx < (current_page -1) * n_photos_p_page + n_photos_p_page; inx++){
               -if( inx <= results.length-1 ){
                img(alt='Failed to load', src="#{results[inx].URL}")
                .caption
                  h3
                    | Photo ID is : #{results[inx].OBJECTID}
                  p
                    | Photo URL is : #{results[inx].URL}
                  p
                 - var currentObjIDvalue= results[inx].OBJECTID
                 - var currentSrcIDvalue= results[inx].SOURCEID
                 - var currentBoardName= boardName
                  p
                      .modal-body
                       form(method='get',action='/add_rating')
                          input(name='score',type='text',placeholder='integer value from 0 to 10')
                          input(type='hidden', name='currentObjID', value=currentObjIDvalue)
                          input(type='hidden', name='currentSrcID', value=currentSrcIDvalue)
                          button.btn.btn-primary(type='submit') Rate it!
                          
                      .modal-body
                       form(method='get',action='/pin_it')
                         input(type='hidden', name='currentObjID', value=currentObjIDvalue)
                         input(type='hidden', name='currentSrcID', value=currentSrcIDvalue)
                         input(type='hidden', name='cur_board', value=currentBoardName)
                         input(type='hidden', name='curr_page', value=current_page)
                         button.btn.btn-primary(type='submit') Pin it!
                         p
                         button.btn.btn-primary(type='button', onclick="JavaScript:this.form.action='/removePhoto';this.form.submit()") Remove it!
                        
                         
                           
               -}
              -}
        
           
         -if (current_page > 1)
            - n_prev = parseInt(current_page) - 1;              
         -else           
            - n_prev = parseInt(current_page)
         
         -if (current_page == n_pages)
            - n_next = parseInt(current_page);
         -else
            - n_next = parseInt(current_page) + 1;
         
         - page_section = Math.ceil(current_page / page_nation_length);
         
          ul.pagination
            
            li
              a(href='/photos'+'?boardName=#{boardName}&nextPage=1') First         
            li
              a(href='/photos'+'?boardName=#{boardName}&nextPage=#{n_prev}') Prev            	            
              -for (inx = parseInt(page_section); inx < parseInt(page_section) + page_nation_length; inx++){
               -if(inx > n_pages){
                  -break;
               -}
               -if(inx == current_page){
                li
                  a(style="color:green",href='/photos'+'?boardName=#{boardName}&nextPage=#{inx}') #{inx}
               -}
               -else{
                li
                  a(href='/photos'+'?boardName=#{boardName}&nextPage=#{inx}') #{inx}
               -}	
              -}
            
            li
              a(href='/photos'+'?boardName=#{boardName}&nextPage=#{n_next}') Next
            li
              a(href='/photos'+'?boardName=#{boardName}&nextPage=#{n_pages}') Last
              