
extends layout2
block content
    
    
    .container
      .row.clearfix
        .col-md-12.column
          .page-header
            h1
              | #{msg} 
        
          .row
            .col-md-1
            .col-md-6
             -for (inx = 0; inx < 6; inx++){  
              div.wawa    
               -if( inx <= results.length-1 ){
               
               -if (results[inx].ISCACHED == 'T'){
                   - imageName = results[inx].ID + results[inx].SOURCE + results[inx].URL.charAt(results[inx].URL.length-3) + results[inx].URL.charAt(results[inx].URL.length-2) +results[inx].URL.charAt(results[inx].URL.length-1);
                   img(alt='Failed to load', src="/mongoimages/#{imageName}", width='300px') 
                   .caption
                   h3
                    | Photo ID is : #{results[inx].ID}
                   p
                    | GridFS Item : #{imageName}
                   p
                    | Tags : #{results[inx].TAGS}
                 -}
                 
               -else{
                img(alt='Failed to load', src="#{results[inx].URL}", width='300px')
                .caption
                  h3
                    | Photo ID is : #{results[inx].ID}
                  p
                    | Photo URL is : #{results[inx].URL}
                  p  
                    | Tags : #{results[inx].TAGS}
                -}
                 
                 - var currentObjIDvalue= results[inx].ID
                 - var currentSrcIDvalue= results[inx].SOURCE
                      .modal-body
                       form(method='get',action='/add_rating')
                          input(name='score',type='text',placeholder='integer value from 0 to 10')
                          input(type='hidden', name='currentObjID', value=currentObjIDvalue)
                          input(type='hidden', name='currentSrcID', value=currentSrcIDvalue)
                          button.btn.btn-primary(type='submit') Rate it!
                               
                  p
                   
                    .modal-body
                     form(method='get',action='/pin_it')
                        input(type='hidden', name='currentObjID', value=currentObjIDvalue)
                        input(type='hidden', name='currentSrcID', value=currentSrcIDvalue)
                        button.btn.btn-primary(type='submit') Pin it!
               -}
              -}
          .row
          a.btn.btn-primary.btn-lg.active(href='/recommendation',role='button') Refresh your results?
           
            
              