extends layout2

block content
    .container
      .row.clearfix
        .col-md-12.column
          .page-header
            h1
              div
                large
                  span #{userID}
              div
                small Some information about the user
          .row.clearfix
            .col-md-4.column
              img.img-circle(alt='140x140', src='http://lorempixel.com/140/140/',align='center')
            .col-md-6.column
              dl
                dt
                  | Login
                dd=results[0].LOGIN+" "
                dt
                  | Password
                dd=results[0].PASSWORD+" "
         
                dt
                  | Email
                dd=results[0].EMAIL+" "
                dt
                  | Affiliations
                affiliation = results[0].AFFILIATION+" "
                dd
                  | #{affiliation}
                dt
                  |Birthday:
                dd=results[0].BIRTHDAY+" "
                dt
                  |Given Name
                dd=results[0].GIVENNAME+" "
                dt
                  |Sur Name
                dd=results[0].SURNAME+" "
                
          a.btn.btn-primary.btn-lg.active(href='/editUserPage', role='button') Edit User Info
          .media
            a.pull-left(href='#')
              img.media-object(src='http://lorempixel.com/64/64/', alt='')
            .media-body
              h4.media-heading
                | Nested media heading
              | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
              .media
                a.pull-left(href='#')
                  img.media-object(src='http://lorempixel.com/64/64/', alt='')
                .media-body
                  h4.media-heading
                    | Nested media heading
                  | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
          
          
